osx/.repl_history

osx/build
osx/tags

osx/resources/*.nib
osx/resources/*.momd
osx/resources/*.storyboardc

.DS_Store
osx/.DS_Store
osx/#*#
osx/*~
osx/*.sw[po]
osx/.eprj
osx/.sass-cache

osx/app/sekrets.rb
s3_maint.rb
pub.rb